.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 17px;
    border-top: solid 1px rgba(255, 255, 255, 0.5)
}

.gallery_body {
        min-height: 80vh;
    background-color: black;
    padding-bottom: 10px;
}