.gallery {
    min-height: 10vh;
    background-color: #c8a2c8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
}

.vignette {
    display: grid;
    width: 25vw;
    height: 8vh;
    margin: 10px;
}

.one {
    background-color: burlywood;
}

.two {
    background-color: red;
}

.three {
    background-color: white;
}