.search__div {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter {
    display: flex;
}

.filtres {
    display: none;
}

.active {
    display: block;
}