.search__div {
	height: 20vh;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	background-color: black;
}

.filter {
	display: flex;
	width: 80%;
	justify-content: space-around;
}

.hidden, .hidden button {
	display: none;
}

.active {
	display: flex;
}

.filter_button, .filters button {
	background-color: #ad00ff;
	border-radius: 10px;
	width: 55px;
	height: 18px;
	font-size: 8px;
	color: white;
	font-weight: 700;
	border: none;
}

.search_button {
	background-color: #ad00ff;
	border-radius: 88px;
	height: 23px;
	width: 57px;
	color: white;
	font-size: 10px;
	border: none;
}

.filters {
    height: 60px;
}

.filter_button {
    margin-bottom: 10px;
}

.filters div {
    width: 300px;
    justify-content: center;
    flex-wrap: wrap;
    border-spacing: 5px;
}

.filters button {
	margin: 2px 2px;
	background-color: #DE97FF;
}